<%- include('../partials/header') %>

  <section>
    <h2>All Flights</h2>
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departure Date</th>
          <th>On Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(function(f) { %>
          <tr>
            <td class="colCent"><%= f.airline %></td>
            <td class="colCent"><%= f.flightNo %></td>
            <td><%= f.departs %></td>
            <td class = "colCent"><%= f.onTime ? 'Yes' : 'No' %></td>
            <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </section>
</body>
</html>

